{% extends 'layout.html' %}
{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">管理首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">分类列表</li>
  </ol>
</nav>
<h3 style="height: 30px;">分类列表</h3>
<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>分类名</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  {% for category in categories %}
  <tr>
    <td>{{category._id.toString()}}</td>
    <td>{{category.name}}</td>
    <td>
      <a href="/admin/category/edit?id={{category._id.toString()}}">修改</a> |
      <a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'page.html' %}

{% endblock %}
