{% extends 'layout.html' %}
{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">管理首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">评论列表</li>
  </ol>
</nav>
<h3 style="height: 30px;">评论列表</h3>
<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>评论ID</th>
    <th>评论者</th>
    <th>评论文章</th>
    <th>评论内容</th>
    <th>回复帖子ID</th>
    <th>评论时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
  <tr>
    <td>{{comment._id.toString()}}</td>
    <td>{{comment.user.username}}</td>
    <td>{{comment.content.title}}</td>
    <td>{{comment.describe}}</td>
    <td>{{comment.fid.toString()}}</td>
    <td>{{comment.createTime}}</td>
    <td>
      <a href="/admin/comment/delete?id={{comment._id.toString()}}">删除</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'page.html' %}

{% endblock %}
