<!--登录模块-->
<div class="b-modular-box" id="login-modular">
  <div class="b-modular-name">
    <span class="main-boder-color">登录</span>
  </div>
  <div class="b-modular-cont">
    <div class="row">
      <label for="login-username">用户名：</label>
      <input type="text" id="login-username" autocomplete="off" name="username">
    </div>
    <div class="row">
      <label for="login-password">密码：</label>
      <input type="password" autocomplete="off" id="login-password" name="password">
    </div>
    <div class="row">
      <input type="submit" class="submit-btn main-bg-color" value="登录" id="login-btn">
    </div>
    <div class="row row-right">
      <p>还没有注册？<a href="javascript:;" class="switch">马上注册</a></p>
    </div>
    <div class="row">
      <p class="warning"></p>
    </div>
  </div>
</div>
