{% extends '../layout.html' %}

{% block style %}
<title>文章详情</title>
<link href="/public/css/main/article/article_detail.css" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="article-detail-content">
  <div class="article-head" id="article-head"></div>
  <div class="article-body" id="article-body"></div>
</div>

<div class="article-comment" id="article-comment">
  <input type="hidden" id="userInfo" value="{{userInfo._id}}">
  <div class="edit-comment-outBox"></div>
  <h3 class="comment-num">(<span class="comment-num">0</span>)个小伙伴评论了</h3>
  <div class="comment-list">
    <ul id="comment-list">

    </ul>
  </div>

</div>

<script type="text/html" id="article_head">
  <h1 class="article-title"><%=title%></h1>
  <nav class="article-nav">
    <ul>
      <li>分类：<%=category.name%></li>
      <li>作者：<%=user.username%></li>
      <li>发布时间：<%=addTime%></li>
      <li>浏览人数：<%=views%></li>
      <li>评论：<span class="comment-num"><%=comments%></span></li>
      <li>喜欢：<%=loves%></li>
    </ul>
  </nav>
</script>
<script type="text/html" id="edit-comment-cont">
  <div class="edit-comment" id="edit-comment">
    <div class="form-group">
      <label for="comment" style="height: 50px;line-height: 50px;">发表我的评论：</label>
      <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <div class="form-group" style="overflow: hidden">
      <button type="submit" id="postComment" style="float: right;" class="btn btn-outline-success">提交评论</button>
    </div>
  </div>
</script>
<script type="text/html" id="comment-cont">
  <li class="comment-li-<%=_id%>">
    <div class="comment-item">
      <div class="comment-img">
        <img src="https://cuiqingcai.com/avatar/cd9c3f6176fdc9873eb3f0c4d0587736.png" alt="头像">
      </div>
      <div class="comment-cont">
        <p class="comment-name"><%=user.username%>评论了：（时间：<%=createTime%>）</p>
        <p class="coment-content"><%=describe%></p>
        <p class="comment-reply"><a href="javascript:;" class="reply-btn" data-fid="<%=_id%>">回复</a></p>
      </div>
    </div>
    <ul class="comment-<%=_id%>" style="width: 100%;box-sizing: border-box;padding-left: 86px">

    </ul>
  </li>
</script>

<script src="/public/js/lib/require.js" data-main="/public/js/main/article/article_detail.js"></script>
{% endblock %}
