{% extends 'layout.html' %}
{% block main %}
<div id="article-container"></div>
<!--文章模板-->
<script id="articleTemp" type="text/html">
  <article class="article-item">
    <header class="article-top">
      <div class="article-type"><%=category.name%><i></i></div>
    </header>
    <div class="article-content">
      <div class="article-img">
        <a target="_blank" href="/article/detail?id=<%=_id%>">
          <img class="thumb" src="<%=titleImg%>" alt="标题图片">
        </a>
      </div>
      <div class="article-description">
        <a target="_blank" href="/article/detail?id=<%=_id%>">
          <h2 class="article-title main-text-color"><%=title%></h2>
          <div class="article-description-content">
            <%=description%>
          </div>
        </a>
      </div>
    </div>
    <div class="article-bottom">
      <a href="#">作者：<%=user.username%></a>
      <a href="#">时间：<%=addTime%></a>
      <a href="#">浏览人数：<%=views%>人</a>
      <a href="#">评论：10</a>
      <a href="#">喜欢：<%=loves%></a>
    </div>
  </article>
</script>
<script src="/public/js/lib/require.js" data-main="/public/js/main/index.js"></script>
{% endblock %}
