<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://v4.bootcss.com/favicon.ico">
  <title>主页</title>
  <link href="/public/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/share/reset.css" rel="stylesheet">
  <link href="/public/css/share/navbar-top.css" rel="stylesheet">
  <link href="/public/css/share/main-body.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-success bg-success mb-4">
  <a class="navbar-brand text-white" href="/">CordingBlog</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">首页</a>
      </li>


      {% for category in categories %}
      <li class="nav-item">
        <a class="nav-link text-white" href="/">{{category.name}}</a>
      </li>
      {% endfor %}
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="请输入搜索内容" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

<main role="main" class="container">
  <div class="container-left"></div>
  <div class="container-right">
    {% if userInfo._id %}
    <!--用户信息模块-->
    <div class="b-modular-box" id="userInfo-modular">
      <div class="b-modular-name">
        <span>用户信息</span>
      </div>
      <div class="b-modular-cont">
        <div class="row">
          <p class="username">{{ userInfo.username }}</p>
        </div>
        <div class="row">
          {% if userInfo.isAdmin %}
          <p class="welcome" style="color: #eab20c;">你好，管理员！<a href="/admin">进入管理后台</a></p>
          {% else %}
          <p class="welcome" style="color: #eab20c;">你好，欢迎光临我的博客！</p>
          {% endif %}
        </div>
        <div class="row">
          <p><a href="javascript:;" class="layout">退出</a></p>
        </div>
      </div>
    </div>
    <!--登录模块-->
    {% else %}
    <div class="b-modular-box" id="login-modular">
      <div class="b-modular-name">
        <span>登录</span>
      </div>
      <div class="b-modular-cont">
        <div class="row">
          <label for="login-username">用户名：</label>
          <input type="text" id="login-username" autocomplete="off" name="username">
        </div>
        <div class="row">
          <label for="login-password">密码：</label>
          <input type="password" autocomplete="off" id="login-password" name="password">
        </div>
        <div class="row">
          <input type="submit" class="submit-btn" value="登录" id="login-btn">
        </div>
        <div class="row row-right">
          <p>还没有注册？<a href="javascript:;" class="switch">马上注册</a></p>
        </div>
        <div class="row">
          <p class="warning"></p>
        </div>
      </div>
    </div>
    <!--注册模块-->
    <div class="b-modular-box" id="register-modular" style="display: none;">
      <div class="b-modular-name">
        <span>注册</span>
      </div>
      <div class="b-modular-cont">
        <div class="row">
          <label for="register-username">用户名：</label>
          <input type="text" id="register-username" autocomplete="off" name="username">
        </div>
        <div class="row">
          <label for="register-password">密码：</label>
          <input type="password" autocomplete="off" id="register-password" name="password">
        </div>
        <div class="row">
          <label for="register-rePassword">确定：</label>
          <input type="password" autocomplete="off" id="register-rePassword" name="repassword">
        </div>
        <div class="row">
          <input type="submit" value="注册" class="submit-btn" id="register-btn">
        </div>
        <div class="row row-right">
          <p>已有账号？<a href="javascript:;" class="switch">马上登录</a></p>
        </div>
        <div class="row">
          <p class="warning"></p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</main>

<script src="/public/js/lib/jquery-3.2.1.min.js"></script>
<script src="/public/js/lib/popper.min.js"></script>
<script src="/public/js/lib/bootstrap.min.js"></script>
<script src="/public/js/main/index.js"></script>

</body>
</html>
