html,body{
  background-color: #eeeeee;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow:0 0 0 60px #fff inset;
  -webkit-text-fill-color: #878787;
}

.main-bg-color{
  background-color: #d27d7d!important;
}
.main-text-color{
  color: #d27d7d!important;
}
.main-boder-color{
  border-color: #d27d7d!important;
}
.container{
  width: 100%;
  height: 500px;
  display: flex;
  display: -webkit-flex;
}
.container-left{
  flex: 1;
  box-sizing: border-box;
  padding-right: 10px;
}
.container-right{
  width: 300px;
  height: 100%;
}
.container-right .card{
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

/*文章板块*/
article.article-item{
  background-color: #fff;
  padding: 20px 15px 10px 20px;
  margin-bottom: 10px;
  position: relative;
  clear: both;
  animation:loadArticleAnimation 1s linear;
}
@keyframes loadArticleAnimation {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: 0;
  }
}
article.article-item a{
  text-decoration: none;
}
article.article-item header.article-top{
  margin: 0 10px 15px 0;
  position: relative;
}
article.article-item header.article-top .article-type{
  margin-right: 5px;
  position: absolute;
  background: #db4659;
  top: -25px;
  left: -30px;
  color: white;
  font-size: 13px;
  width: 80px;
  height: 25px;
  line-height: 25px;
  text-indent: 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
article.article-item header.article-top .article-type i{
  display: block;
  position: absolute;
  top: 25px;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #db4659;
  border-right: 5px solid #db4659;
}
article.article-item .article-content .article-title{
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 1px;
  line-height: 25px;
  margin: 0 10px 10px 10px;
}
article.article-item .article-content{
  overflow: hidden;
  height: 123px;
}
article.article-item .article-content .article-img{
  float: left;
  margin: 0 20px 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: table;
}
article.article-item .article-content .article-img img{

}
article.article-item .article-content .article-description{
  color: #777;
  line-height: 24px;
  margin-bottom: 0;
  font-style: normal;
  height: 100%;
}
article.article-item .article-content .article-description-content{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 22px;
  color: grey;
}

article.article-item .article-bottom{
  width: 100%;
  line-height: 50px;
  text-align: right;
}
article.article-item .article-bottom a{
  margin-right: 20px;
  font-size: 13px;
  color: #949494;
}
/*右侧模块框*/
.b-modular-box{
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  animation:loadArticleAnimation 1s linear;
}
.b-modular-name{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eaeaea;
  line-height: 40px;
}
.b-modular-name span{
  height: 40px;
  border-bottom: 1px solid #28a745;
  display: inline-block;
  line-height: 50px;
  padding-right: 20px;
}
.b-modular-cont{
  width: 100%;
}
.b-modular-cont .row{
  width: 100%;
  margin: 10px 0;
}
.b-modular-cont .row label{
  width: 56px;
  text-align: right;
  line-height: 35px;
  font-size: 14px;
}
.b-modular-cont .row input{
  border: 1px solid #eee;
  height: 35px;
  box-sizing: border-box;
  padding-left: 8px;
  width: 204px;
  font-size: 15px;
}
.b-modular-cont .row p{
  font-size: 15px;
}
.b-modular-box input.submit-btn{
  margin-left: 56px;
  background: #28a745;
  color: white;
}
.b-modular-cont .row-right{
  width: 100%;
}
.b-modular-cont .row-right p{
  width: 100%;
  font-size: 13px;
  text-align: right;
}
.b-modular-cont .row p.warning{
  color: red;
  font-size: 15px;
}
